.md-header {
  background-color: #2fcc70;
  height: 5rem;
}

.md-logo {
  margin: 0;
  padding: 0;
  padding-top: 0.3rem;
  padding-left: 0.8rem;
}

.md-header-nav__topic {
  font-weight: 800;
  color: #363636;
}